@import '../../Assets/Style/Style.scss';

.seeds {
    width: 1110px;
    height: 455px;
    border: 1px solid white;
    margin: 0 auto;
    display: block;
    margin-top: 32px;
    border-radius: 24px;
    background-color: $mainGreen;
}

.no-webp .seedra__big::after {
    background: url(../../Assets/Img/hero.png) right bottom/contain no-repeat
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media(max-width: 650px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.seeds__title {
    position: static;
    width: 650px;
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    margin-top: 48px;
    margin-left: 76px;

    @media(max-width: 650px) {
        margin: 0;
    }
}

.seeds__des {
    position: static;
    width: 560px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-left: 76px;
}

.price {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-left: 78px;
}

.price__title__price {
    margin-left: 8.84px;
    color: black;
    font-family: Lexend;
    font-size: 42px;
    font-weight: 600;
    line-height: 54px;
}

.price__des {
    margin-left: 21px;
    color: rgb(112, 115, 124);
    font-family: Lexend;
    font-size: 22px;
    font-weight: 600;
    line-height: 54px;
    text-decoration: line-through;
}

.sed {
    margin-top: 35px;
}

.hero__btn1 {
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background: rgb(53, 151, 64);
    color: white;
    font-family: Lexend;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 10px;
    margin-left: 76px;
}

.hero__btn2 {
    width: 129px;
    height: 50px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(53, 151, 64);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 12px;
    border: none;
}

.well {
    width: 1110px;
    height: 104px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 12px;
    background: $manPink;
}

.well__title {
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-top: 23px;
}

.well__des {
    color: rgb(112, 115, 124);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-left: 29px;
}

@media (max-width: 375px) {
    .seeds {
        width: 345px;
        height: 663px;
    }

    .seeds__title {
        position: absolute;
        width: 309px;
        height: 73px;
        left: 14px;
        right: 22px;
        top: 293px;
        bottom: 297px;
        color: rgb(31, 37, 51);
        font-family: Lexend;
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -5%;
        text-align: left;
        padding-top: 100px;
        padding-left: 14px;

    }

    .seeds__des {
        position: absolute;
        width: 320px;
        height: 84px;
        left: 14px;
        right: 11px;
        top: 408px;
        bottom: 171px;
        margin-top: 0;
        margin-left: 0;
        color: rgb(31, 37, 51);
        font-family: Lexend;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
        padding-top: 120px;
        padding-left: 14px;

    }

    .price {
        margin-top: 220px;
        display: flex;
        align-items: center;
    }

    .sed {
        width: 188px;
        height: 188px;
        display: none;
    }

    .hero__btn1 {
        width: 141px;
        height: 47px;

    }

    .buttons__btns {
        display: flex;
        align-items: center;
        margin-top: 299px;
        margin-right: 71px;
    }

    .price__title__price {
        color: crimson;
        font-size: 32px;
        font-weight: 400;
    }
}

@media (max-width: 375px) {
    .avatar {
        background-image: url('../../Assets/Img/hero.png');
        background-repeat: no-repeat;
        background-size: 188px;
        background-position: 79px 41px;

    }
    .webp .seedra__big::after {
        background: url(../../Assets/Img/hero.png) center top/contain no-repeat
    }
    .well{
        width: 345px;
        height: 178px;
    }

}
