.reviews {
    display: flex;
    align-items: center;
    margin-top: 85px;
    margin-left: 165px;

    h1 {
        color: rgb(31, 37, 51);
        font-family: Lexend;
        font-size: 36px;
        font-weight: 400;
    }

    button {
        width: 158px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid rgb(239, 239, 239);
        border-radius: 8px;
        background: rgb(255, 255, 255);
        margin-left: 660px;
        color: rgb(53, 151, 64);
        font-family: Lexend;
        font-size: 16px;
        font-weight: 400;
    }
}

.reting__box__box {
    margin-top: 47px;
    margin-left: 165px;
}

.diego__box {
    width: 730px;
    height: 340px;
    box-sizing: border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 12px;
    box-shadow: 0px 4px 21px 0px rgba(209, 209, 209, 0.25);
    background: rgb(255, 255, 255);
    margin-top: 47px;
    margin-left: 30px;
}

.carla__diego__box {
    display: flex;
}

.june__box {
    display: flex;
    align-items: center;
}

.carla__img__box {
    margin-top: 35px;
    margin-left: 34px;
}

.united__state {
    margin-top: 30px;
    margin-left: 24px;

    h3 {
        color: rgb(31, 37, 51);
        font-family: Lexend;
        font-size: 18px;
        font-weight: 400;
    }

    p {
        color: rgb(112, 115, 124);
        font-family: Lexend;
        font-size: 14px;
        font-weight: 400;
    }
}

.starss {
    margin-left: 122px;
}

.germanation {
    margin-top: 27px;
    margin-left: 34px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
}

.size__size {
    display: flex;
    align-items: center;
    margin-top: 19px;
    margin-left: 34px;

    p {
        /* Regular 14 */
        color: rgb(112, 115, 124);
        font-family: Lexend;
        font-size: 14px;
        font-weight: 400;
    }

    span {
        color: rgb(31, 37, 51);
        font-family: Lexend;
        font-size: 16px;
        font-weight: 400;
        margin-left: 3px;
    }
}

.aviable__btn {
    width: 147px;
    height: 40px;
    border-radius: 119px;
    background: rgba(53, 151, 64, 0.08);
    display: flex;
    align-items: center;
    border: none;
    padding-left: 19px;
    color: rgb(79, 160, 131);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    margin-left: 35px;
}

.video__review {
    width: 350px;
    height: 434px;
    box-sizing: border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 12px;
    margin-left: 165px;
}

.rteview__124 {
    margin-top: 23px;
    margin-left: 26px;
    color: rgb(112, 115, 124);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
}

.photo__review {
    display: flex;

    h4 {
        color: rgb(31, 37, 51);
        font-family: Lexend;
        font-size: 16px;
        font-weight: 400;
        margin-top: 8px;
        margin-left: 25px;
    }

    span {
        color: rgb(53, 151, 64);
        font-family: Lexend;
        font-size: 14px;
        font-weight: 400;
        margin-left: 119px;
        margin-top: -5px;
    }
}

.photo__card {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 25px;
    gap: 11px;
}

.photo__card__boox {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 25px;
    gap: 11px;
}

.diego__boox2 {
    display: flex;
}

.state__ond {
    width: 730px;
    height: 410px;
    box-sizing: border-box;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 12px;
    box-shadow: 0px 4px 21px 0px rgba(209, 209, 209, 0.25);
    background: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: 30px;
}

.wolt__title {
    margin-top: 27px;
    margin-left: 34px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
}

.size__size__box {
    display: flex;
    align-items: center;
    margin-top: 143px;
    margin-left: 34px;

    p {
        color: rgb(112, 115, 124);
        font-family: Lexend;
        font-size: 14px;
        font-weight: 400;
    }

    span {
        color: rgb(31, 37, 51);
        font-family: Lexend;
        font-size: 16px;
        font-weight: 400;
        margin-left: 3px;
    }
}