@import '../../Assets/Style/Style.scss';

.all__box {
    margin-top: 48px;
    margin-left: 165px;
    display: flex;
}

.all__title {
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 36px;
    font-weight: 600;
}

.all__btn {
    width: 153px;
    height: 50px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(53, 151, 64);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 500;
    margin-left: 729px;
}

.nav__bar {
    margin-top: 40px;
    margin-left: 165px;
    display: flex;
    align-items: center;
}

.bar__btn1 {
    width: 110px;
    height: 72px;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 8px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;

    img {
        margin-left: 22px;
    }
}

.bar__btn2 {
    width: 144px;
    height: 72px;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 8px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
    gap: 8px;

    img {
        margin-left: 22px;
    }
}

.bar__btn3 {
    width: 128px;
    height: 72px;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 8px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
    gap: 8px;

    img {
        margin-left: 22px;
    }
}

.bar__btn4 {
    width: 187px;
    height: 72px;
    box-sizing: border-box;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 8px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
    gap: 8px;

    img {
        margin-left: 22px;
    }
}

.bar__btn5 {
    width: 148px;
    height: 72px;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 8px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-left: 12px;

    img {
        margin-left: 22px;
    }
}

.bar__btn6 {
    width: 157px;
    height: 72px;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 8px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
    gap: 8px;

    img {
        margin-left: 22px;
    }
}

.bar__btn7 {
    width: 163px;
    height: 72px;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 8px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
    gap: 8px;

    img {
        margin-left: 22px;
    }
}

.product {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-left: 165px;
    gap: 30px;

}

.cart__container {
    width: 350px;
    height: 512px;
    border: 1px solid black;
    box-sizing: border-box;
    border: 2px solid rgb(239, 239, 239);
    border-radius: 8px;


    .rek__img {
        margin-top: 28px;
        margin-left: 28px;
        width: 85%;
    }

    h4 {
        color: rgb(31, 37, 51);
        font-family: Lexend;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        margin-left: 28px;
    }

}

.stars {
    display: inline-block;
}

.stars {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 29px;
}

.star {
    font-size: 24px;
    color: gold;
    position: relative;
}

.star.half {
    position: relative;
    color: lightgray;
}

.star.half::before {
    content: '\2605';
    position: absolute;
    left: 0;
    color: gold;
    width: 50%;
    overflow: hidden;
}

.rating {
    margin-left: 6px;
    color: rgb(112, 115, 124);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
}

.html__btn {
    display: flex;
    align-items: center;

    h1 {
        color: rgb(31, 37, 51);
        font-family: Lexend;
        font-size: 28px;
        font-weight: 600;
        line-height: 54px;
        margin-top: 8px;
        margin-left: 28px;
    }

    button {
        width: 48px;
        height: 48px;
        box-sizing: border-box;
        border: 1px solid rgb(239, 239, 239);
        border-radius: 8px;
        margin-left: 158px;

        img {
            margin: 0 auto;
            display: block;

        }
    }
}

.yurak__btn2 {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    margin-top: -315px;
    margin-left: 298px;
    position: absolute;
    float: right;
    border: 1px solid rgb(239, 239, 239);
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.yurakcha {
    font-size: 20px;
    color: rgb(255, 207, 85);
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.modal__modal {
    width: 525px;
    height: 503.5px;
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: white;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: -180px;
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0px 4px 58px 0px rgba(204, 204, 204, 0.12), 0px 4px 26px 0px rgba(199, 199, 199, 0.5);
    background: rgb(255, 255, 255);
}

.modal-content {
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    color: rgb(31, 37, 51);
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
}

.modal__texts {
    display: flex;
    justify-content: space-between;
}

.modal__ich1 {
    display: block;
    justify-content: center;
    margin-top: 26px;
    gap: 15px;

    p {
        margin-top: 15px;
        color: rgb(0, 0, 0);
        font-family: Lexend;
        font-size: 24px;
        font-weight: 400;
    }
}

.modal__ich2 {
    margin-top: 26px;
    margin-left: 20px;


    h2 {
        margin-top: 15px;
        color: rgb(0, 0, 0);
        font-family: Lexend;
        font-size: 24px;
        font-weight: 400;
    }
}

.modal__ich3 {
    margin-top: 26px;
    margin-right: -90px;
    float: right;



    p {
        margin-top: 15px;
        color: rgb(0, 0, 0);
        font-family: Lexend;
        font-size: 16px;
        font-weight: 400;

    }
}

.linemod {
    margin-top: 44px;
    margin-left: 30px;
}

.all__herbis {
    margin-top: 15px;
    margin-left: 28px;
    color: rgb(112, 115, 124);
    font-family: Lexend;
    font-size: 16px;
    font-weight: 400;
}